@model Home
@{
    ViewData["Title"] = "NewHomeInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">New Home Info</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>Photo</th>
<th>Jobs</th>
<th>Link Instagram</th>
<th>Link Linkedin</th>
<th>Güncelle</th>
</tr>
</thead>
<tbody>
<tr>
<td>@Model.Id</td>
<td>@Model.Photo</td>
<td>@Model.Jobs</td>
<td>@Model.LinkInstagram</td>
<td>@Model.LinkLinkedin</td>
<td><a href="/NewHome/NewHomeEdit/@Model.Id" class="btn btn-outline-success">Güncelle</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>