@model IEnumerable<Message>

@{
    ViewData["Title"] = "MessageInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Message Info</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>Name</th>
<th>Email</th>
<th>Subject</th>
<th>Form Message</th>
<th>Sil</th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Surname</td>
    <td>@item.Subject</td>
    <td>@item.FormMessage</td>
        <td><a href="/Message/MessageDelete/@item.Id" class="btn btn-outline-danger">Sil</a></td>
    </tr>
}
</tbody>
</table>
</div>
</div>
</div>
</div>