@model GetInTouch
@{
    ViewData["Title"] = "GetInTouchInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Get In Touch Info</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>District</th>
<th>City / Country</th>
<th>Phone Number</th>
<th>E-Mail</th>
<th>Güncelle</th>
</tr>
</thead>
<tbody>
<tr>
<td>@Model.Id</td>
<td>@Model.District</td>
<td>@Model.CityCountry</td>
<td>@Model.PhoneNumber</td>
<td>@Model.Email</td>
<td><a href="/GetInTouch/GetInTouchEdit/@Model.Id" class="btn btn-outline-success">Güncelle</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>